@page "/createsale"

<h3>Create Sale</h3>

@if (SaleViewModel == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="customeremail">Customer Email</label>
                <input id="customeremail" class="form-control" @bind="SaleViewModel.CustomerEmail"/>
            </div>
            <div class="form-group">
                <label for="saledate">Sale Date</label>
                <input id="saledate" class="form-control" @bind="SaleViewModel.SaleDate"/>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="card">
        <div class="card-body">
            <h4>Order Items</h4>
            @foreach (var item in SaleViewModel.SaleItems)
            {
                <SaleItemEditComponent ProductItemViewModel="item" Products="ProductsViewModel"/>
            }

            <button class="btn btn-primary" @onclick="AddSaleItem">Add Order Item</button>
            <button class="btn btn-primary" @onclick="Save">Save</button>

        </div>
    </div>
}